# TeraBox Account Cookie
# Yahan apni TeraBox cookie paste karo
# Vercel mein deploy karte waqt isko Environment Variables mein add karo

TERABOX_COOKIE=PANWEB=1; csrfToken=mV6SMYlxdGjkIjghMcPp9iKd; lang=en; ndus=YfM5cX8peHuiY1f9TdJv_xfz9yuz22GwSjGBqQX3; browserid=mGPEvAiloRLn9Pjx2EHlejaKam3KaVRirEv3rlV-rJXX-c0ouV0_a7j__JE=; ndut_fmt=xxxx
